#container {
    top: -400px;
    display:flex;
    flex-direction: column;
    max-width: auto;
    height: 80vh;
    width: 98vw;
    
}
@media (min-width: 1200px) and (orientation:landscape) {
    #container {
        flex-direction: row;
    }
    /*.yes{
        width: min(20px,2.5vh);
        height: min(20px,2.5vh);
        table-layout: fixed;
    }
    .no{
        width: min(20px,2.5vh);
        height: min(20px,2.5vh);
        table-layout: fixed;
    }*/
}



#container div{
    flex-basis: auto;
    width: auto;
}

#container .alert{
    width: min(400px, 70%);
    justify-content: center;
    margin: auto;
}

.no {
    background-color: white;

}

.yes {
    background-color: orange;
}

#info {
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
}

body {
    background: rgb(#EAE7DC);
}

label {
    position: static;
    bottom: 100%;
}
#rules {
    margin-right: auto;
    margin-left: auto;
}

h2 {
    text-align: center;
}



td {
    margin: 0;
    table-layout: fixed;
    padding: 0;
    /*padding-bottom: 1vh;*/
    /*transition: opacity 0.3s;
    -webkit-transition: opacity 0.3s;*/
    /*height: 20px;
    padding-bottom: 2.5%;
    width: 2.5%;
    padding-bottom: 50%;*/
    border: 1px solid rgb(175, 176, 180);
    background-color: transparent;
    transition: background-color .1s linear;
    -moz-transition: background-color .1s linear;  
    -webkit-transition: background-color .1s linear; 
    -ms-transition: background-color .1s linear; 
}
#boardSize{
    margin-bottom:10px;
}
td:hover {
    background-color:rgb(156, 156, 156);
}

.yes:hover {
    background-color: rgb(141, 92, 0);
}

table {
    margin: 0;
    /*position: relative;*/
    table-layout: fixed;
    top: -300px;
    color:rgb(155, 39, 39);
    border: 2px solid rgb(94, 129, 91);
    border-radius: 10px;
    border-collapse: collapse;
    /*height: 2000px;
    width: 2000px;*/
    max-width: 100%;
    max-Height: 100%;
    margin-left: auto;
    margin-right: auto;
}


label {
    
    color:rgb(81, 81, 122);
}

#gameboard{
    flex-grow:4;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    table-layout: fixed;
}

p {
    color:rgb(81, 81, 122);
}

button {
    margin: 5px;
}
.alert {
    padding: 10px;
    background-color: #f44336;
    color: white;
    border-style: groove;
    width:auto;
    /*display: none;*/
  }
  
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}
  
.closebtn:hover {
    color: black;
  }

#inputAlert {
    display: none;
    width: 100px;
}
